/* Tag selector to select the 'body' element */
body {

  /* Your code here! */
  background-color: #00b3e6; 
  font-family: Arial, sans-serif; 
  margin: 0;
  padding: 0;
  color: black;
}

/* Tag selector to select all 'div' elements. We only have one 'div' in our HTML */
div {
  /* Your code here! */ 
  font-family: 'Helvetica Neue', sans-serif;
  width: 700px; 
  margin: auto;
  padding: 30px; 
  background-color: white;
}

/* ID selector to select the element with id 'main-header' */
#main-header {
  /* Your code here! */ 
  font-size: 22px; 
  text-align: center;
  margin-bottom: 20px; 
  color: red;
}

/* Class selector to select elements containing the class 'perspective-questions' */
.perspective-questions {
  /* Your code here! */
  font-style: italic; 
  color: black;
  margin-bottom: 10px;
}
